# Phase 2: Data Loading

#### The Olist Brazilian E-Commerce Dataset

In [1]:
import pandas as pd

## Extracting Data

In [2]:
# loading all csv files into pandas

In [3]:
customers = pd.read_csv("olist_customers_dataset.csv")
len(customers) # calculating the number of rows in pandas

99441

In [4]:
customers.columns #checking the columns in the dataset

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [5]:
geolocation = pd.read_csv("olist_geolocation_dataset.csv")
len(geolocation) # calculating the number of rows in pandas

1000163

In [6]:
order_items = pd.read_csv("olist_order_items_dataset.csv")
len(order_items) # calculating the number of rows in pandas

112650

In [7]:
order_payments = pd.read_csv("olist_order_payments_dataset.csv")
len(order_payments) # calculating the number of rows in pandas

103886

In [8]:
order_reviews = pd.read_csv("olist_order_reviews_dataset.csv")
len(order_reviews) # calculating the number of rows in pandas

99224

In [9]:
orders = pd.read_csv("olist_orders_dataset.csv")
len(orders) # calculating the number of rows in pandas

99441

In [10]:
products = pd.read_csv("olist_products_dataset.csv")
len(products) # calculating the number of rows in pandas

32951

In [11]:
sellers = pd.read_csv("olist_sellers_dataset.csv")
len(sellers) # calculating the number of rows in pandas

3095

In [12]:
product_category = pd.read_csv("product_category_name_translation.csv")
len(product_category) # calculating the number of rows in pandas

71

## Exploratory Data Analysis (EDA)

##### EDA helps in understanding the structure and characteristics of the dataset

In [13]:
sellers.head() #call the first 5 rows of the dataset

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [14]:
geolocation.describe() #basic stats

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

In [15]:
customers.info() # looking at the columns of the dataset with their datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

#### Handling Missing Values

In [16]:
# checking each dataset if the values are missing

In [17]:
customers.isna() # checking for missing values

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
99436,False,False,False,False,False
99437,False,False,False,False,False
99438,False,False,False,False,False
99439,False,False,False,False,False
99440,False,False,False,False,False

In [18]:
customers.isna().sum() #checking number of missing values

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [19]:
geolocation.isna().sum() # no missing values

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [20]:
order_items.isna().sum() #no missing values

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [21]:
order_payments.isna().sum() #no missing values

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [22]:
order_reviews.isna().sum() # this one has missing or null values

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [23]:
orders.isna().sum() # this one too has missing values

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [24]:
products.isna().sum()  # this one too has missing values

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [25]:
sellers.isna().sum()   # no missing values

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [26]:
product_category.isna().sum() # no missing values

product_category_name            0
product_category_name_english    0
dtype: int64

In [27]:
#order_reviews, orders, products have missing values
#order_reviews has a total of 99,224 rows with null values for 
            # review_comment_title       87656 (around 88%)
            #review_comment_message     58247   (around 59%)
#orders has a total of 99,441 rows with null values for 
            #order_approved_at                 160
            #order_delivered_carrier_date     1783
            #order_delivered_customer_date    2965 
#products has a total of 32,951 rows with null values for
            #product_category_name         610
            #product_name_lenght           610
            #product_description_lenght    610
            #product_photos_qty            610

In [28]:
# the columns with null values of products dataset has 1.85% of its rows as missing
# hence can be dropped
products.dropna(inplace=True) # dropping missing values

In [29]:
len(products) #before dropping

32340

In [30]:
len(products) #after dropping

32340

In [31]:
#dropping columns that are not needed from above
# the columns order_approved_at of the orders dataset is not needed
orders.drop("order_approved_at", axis=1, inplace=True)

In [32]:
orders.columns # checking columns and it does not have the dropped column

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'],
      dtype='object')

### Removing Duplicate Records

In [33]:
orders.duplicated() # returns boolean series indicating whether each row in the Dataframe is a duplicate of a previous row

0        False
1        False
2        False
3        False
4        False
         ...
99436    False
99437    False
99438    False
99439    False
99440    False
Length: 99441, dtype: bool

In [34]:
# looking at the number of duplicaed rows
orders.duplicated().sum()

np.int64(0)

In [35]:
customers.duplicated().sum()

np.int64(0)

In [36]:
geolocation.duplicated().sum()

np.int64(261831)

In [37]:
order_items.duplicated().sum()

np.int64(0)

In [38]:
order_payments.duplicated().sum()

np.int64(0)

In [39]:
order_reviews.duplicated().sum()

np.int64(0)

In [40]:
products.duplicated().sum()

np.int64(0)

In [41]:
sellers.duplicated().sum()

np.int64(0)

In [42]:
product_category.duplicated().sum()

np.int64(0)

In [43]:
# removing duplicates from geolocation dataset
geolocation.drop_duplicates(inplace=True)

In [44]:
# number of rows before dropping duplicates
len(geolocation)

738332

In [45]:
# number of rows after dropping duplicates
len(geolocation)

738332

### Data Types and Conversion

In [46]:
#to check data types of each column in dataset
customers["customer_id"].dtype

dtype('O')

In [47]:
# to see data types of all columns in the dataset
product_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [48]:
orders.dtypes # checking the data types of columns

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [49]:
# "shipping_limit_date" column from order_items dataset is in object datatype
# "review_creation_date" column from order_reviews dataset is in object datatype
# "review_answer_timestamp" column from order_reviews dataset is in object datatype
# "order_purchase_timestamp" column from orders dataset is in object datatype
# "order_delivered_carrier_date" column from orders dataset is in object datatype
# "order_delivered_customer_date" column from orders dataset is in object datatype
# "order_estimated_delivery_date" column from orders dataset is in object datatype

##### Those date and time columns which are in object datatype need to be converted to datetime

In [50]:
# converting all those columns into datetime datatypes
order_items["shipping_limit_date"] = pd.to_datetime(order_items["shipping_limit_date"])

In [51]:
order_reviews["review_creation_date"] = pd.to_datetime(order_reviews["review_creation_date"])

In [52]:
order_reviews["review_answer_timestamp"] = pd.to_datetime(order_reviews["review_answer_timestamp"])

In [53]:
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])

In [54]:
orders["order_delivered_carrier_date"] = pd.to_datetime(orders["order_delivered_carrier_date"])

In [55]:
orders["order_delivered_customer_date"] = pd.to_datetime(orders["order_delivered_customer_date"])

In [56]:
orders["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"])

In [57]:
# checking all the converted datatypes of the columns
order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [58]:
order_reviews.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [59]:
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

### Standarizing and Formatting Data

In [60]:
# capitalizing each element of the column "customer_city" in the customers dataset
customers["customer_city"] = customers["customer_city"].str.upper() # turning each element into uppercase

In [61]:
# removing spaces from the beginning and the end of a string
customers["customer_city"] = customers["customer_city"].str.strip()

In [62]:
geolocation["geolocation_city"] = geolocation["geolocation_city"].str.upper() # turning all elements into uppercase

In [63]:
geolocation["geolocation_city"] = geolocation["geolocation_city"].str.strip()

In [64]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,SAO PAULO,SP
1,1046,-23.546081,-46.644820,SAO PAULO,SP
2,1046,-23.546129,-46.642951,SAO PAULO,SP
3,1041,-23.544392,-46.639499,SAO PAULO,SP
4,1035,-23.541578,-46.641607,SAO PAULO,SP
...,...,...,...,...,...
1000155,99965,-28.180655,-52.034367,AGUA SANTA,RS
1000156,99950,-28.072188,-52.011272,TAPEJARA,RS
1000157,99950,-28.068864,-52.012964,TAPEJARA,RS
1000158,99950,-28.068639,-52.010705,TAPEJARA,RS
1000161,99980,-28.388932,-51.846871,DAVID CANABARRO,RS

In [65]:
orders["order_status"] = orders["order_status"].str.upper().str.strip() # converting to uppercase and removing beginning and end spaces, both

In [66]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,DELIVERED,2017-10-02 10:56:33,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,DELIVERED,2018-07-24 20:41:37,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,DELIVERED,2018-08-08 08:38:49,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,DELIVERED,2017-11-18 19:28:06,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,DELIVERED,2018-02-13 21:18:39,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,DELIVERED,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,DELIVERED,2018-02-06 12:58:58,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,DELIVERED,2017-08-27 14:46:43,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,DELIVERED,2018-01-08 21:28:27,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,DELIVERED,2018-03-08 20:57:30,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [67]:
sellers["seller_city"] = sellers["seller_city"].str.upper().str.strip()

In [68]:
sellers # looking at modified columns

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,CAMPINAS,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,MOGI GUACU,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,RIO DE JANEIRO,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,SAO PAULO,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,BRAGANCA PAULISTA,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,SARANDI,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,PALHOCA,SC
3092,74871d19219c7d518d0090283e03c137,4650,SAO PAULO,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,PELOTAS,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,TAUBATE,SP

In [69]:
# Removing underscore from values of columns and replacing them with spaces

In [70]:
product_category["product_category_name_english"] = product_category["product_category_name_english"].str.replace("_", " ").str.upper().str.strip()

In [71]:
product_category["product_category_name"] = product_category["product_category_name"].str.replace("_", " ").str.upper().str.strip()

In [72]:
product_category # modified columns

            product_category_name product_category_name_english
0                    BELEZA SAUDE                 HEALTH BEAUTY
1          INFORMATICA ACESSORIOS         COMPUTERS ACCESSORIES
2                      AUTOMOTIVO                          AUTO
3                 CAMA MESA BANHO                BED BATH TABLE
4                MOVEIS DECORACAO               FURNITURE DECOR
..                            ...                           ...
66                         FLORES                       FLOWERS
67             ARTES E ARTESANATO         ARTS AND CRAFTMANSHIP
68                FRALDAS HIGIENE           DIAPERS AND HYGIENE
69  FASHION ROUPA INFANTO JUVENIL     FASHION CHILDRENS CLOTHES
70             SEGUROS E SERVICOS         SECURITY AND SERVICES

[71 rows x 2 columns]

In [73]:
products["product_category_name"] = products["product_category_name"].str.replace("_"," ").str.strip().str.upper()

In [74]:
products # modified column

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,PERFUMARIA,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,ARTES,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,ESPORTE LAZER,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,BEBES,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,UTILIDADES DOMESTICAS,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,MOVEIS DECORACAO,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,CONSTRUCAO FERRAMENTAS ILUMINACAO,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,CAMA MESA BANHO,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,INFORMATICA ACESSORIOS,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,CAMA MESA BANHO,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [75]:
order_payments["payment_type"] = order_payments["payment_type"].str.replace("_"," ").str.upper().str.strip()

In [76]:
order_payments # looking at modified column

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,CREDIT CARD,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,CREDIT CARD,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,CREDIT CARD,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,CREDIT CARD,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,CREDIT CARD,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,BOLETO,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,CREDIT CARD,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,CREDIT CARD,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,CREDIT CARD,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,BOLETO,1,191.58

In [77]:
# listing the datasets for reference

#customers
#geolocation
#order_items
#order_payments
#order_reviews
#orders
#products
#sellers
#product_category

##### Before I proceed, I think I need to drop irrelavant columns and translate values of columns from Portuguese to English

In [78]:
customers.columns # looking at the columns of the dataset

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [79]:
# I thought of combining some datasets before dropping some columns (Merging Dataframes)

In [80]:
# Combining the datasets products and product_category

In [81]:
merge1 = pd.merge(products, product_category, on="product_category_name", how="left") # doing a left join

In [82]:
orders.columns # looking at columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'],
      dtype='object')

In [83]:
order_items.columns  # looking at columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [84]:
# merging orders and order_items datasets
merge2 = pd.merge(orders, order_items, on = "order_id", how="left")

In [85]:
merge2.columns # looking at columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [86]:
order_payments.columns # looking at columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [87]:
merge3 = pd.merge(merge2, order_payments, on="order_id", how="left") # combining merged and dataset that is not merged

In [88]:
merge3.columns # looking at columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value'],
      dtype='object')

In [89]:
order_reviews.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [90]:
# combining merge3 and order_reviews dataset
merge4 = pd.merge(merge3, order_reviews, on = "order_id", how="left")

In [91]:
# looking at the columns of the merged dataset merge 4
merge4.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [92]:
customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [93]:
# creating a new merged dataset by combining customers and merge4 dataset
merge5 = pd.merge(merge4, customers, on="customer_id", how="left")

In [94]:
# looking at the columns of the merged merge5 dataset
merge5.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state'],
      dtype='object')

In [95]:
merge1.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [96]:
# merging merge5 and merge1 datasets
merge6 = pd.merge(merge5, merge1, on = "product_id", how="left")

In [97]:
merge6.columns # looking at the merged columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [98]:
sellers.columns # looking at the columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

In [99]:
# finally merging the merge6 and sellers datasets
final_df = pd.merge(merge6, sellers, on="seller_id", how="left")

In [100]:
# Looking at the columns of the final combined dataset/dataframe
final_df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'seller_zip_code_prefix',
       'seller_city', 'seller_state'],
      dtype='object')

In [103]:
# Finally converting the final merged dataset into csv file
final_df.to_csv("Final_Data.csv", index=False) 
# index=False in order to prevent pandas from writing the Dataframe index as a column in the csv